<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.grableapp">

    <uses-permission android:name="android.permission.CAMERA"/>




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ScannerActivity"></activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SignInActivity"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ListActivity"></activity>
        <activity android:name=".SettingsActivity"></activity>
        <activity android:name=".CardPaymentActivity"></activity>
        <activity android:name=".MainloginActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OffersActivity"></activity>
        <activity android:name=".QRActivity"></activity>
        <activity android:name=".AddCardActivity"></activity>
    </application>

</manifest>